<div id="HeaderContainer">
  <header>
    <div class="header-inner">
      <h1 id="title">KCA Cornhole Tournaments</h1>
    </div>
  </header>

<div class="auth-buttons">
  <ng-container *ngIf="isLoggedIn">
    <div class="auth-row">
      <div class="user-info">
        <p id="username">{{username}}</p>
        <span class="status-icon fas fa-user-circle"></span>
      </div>
      <button id="registerBtn" class="sign-buttons outline" (click)="logout()">Logout</button>
    </div>
  </ng-container>

  <ng-container *ngIf="!isLoggedIn">
    <div class="auth-row">
      <div class="user-info">
        <span class="status-icon fas fa-sign-in-alt" (click)="openLoginModal()"></span>
      </div>
        <button id="loginBtn" class="sign-buttons" (click)="openLoginModal()">Login</button>
        <button id="registerBtn" class="sign-buttons outline" (click)="openRegisterModal()">Register</button>
    </div>
  </ng-container>
</div>



  <div *ngIf="isAuthModalOpen" class="auth-modal">
    <div class="auth-modal-content">
      <span class="close-btn" (click)="closeModal()">&times;</span>
      <h2>{{ isRegisterMode ? 'Register' : 'Login' }}</h2>

      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <label for="username">{{ isRegisterMode ? 'Username' : 'Username / Email' }}</label>
        <input id="username" type="text" formControlName="username" required />

        <ng-container *ngIf="isRegisterMode">
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email" required />
        </ng-container>

        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" required />

        <ng-container *ngIf="isRegisterMode">
          <label for="confirmPassword">Confirm Password</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword" required />
        </ng-container>

        <button class="LogButton" type="submit">
          {{ isRegisterMode ? 'Create Account' : 'Login' }}
        </button>
      </form>

      <div class="register-link">
        <a href="#" (click)="toggleMode($event)">
          {{ isRegisterMode ? 'Already have an account? Login here' : 'No account? Register here' }}
        </a>
      </div>
    </div>
  </div>

  <nav>
    <div class="navbar-toggle" (click)="toggleNav()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="nav-links" [ngClass]="{ open: isNavOpen }">
      <button routerLink="/" class="nav-btn">Home</button>
      <button routerLink="/join" class="nav-btn">Join Tournament</button>
      <button routerLink="/create" class="nav-btn">Create Tournament</button>
      <button routerLink="/stats" class="nav-btn">Statistics</button>
      <button routerLink="/about" class="nav-btn">About</button>
    </div>
    <button
      id="toggleTheme"
      title="We recommend Darkmode for the best experience"
      (click)="toggleTheme()"
    >
      <span class="switch"></span>
    </button>
  </nav>
</div>

<main class="contact-page">
  <section class="contact-header">
    <h1>Kontaktieren Sie uns</h1>
    <p>
      Wir freuen uns, von Ihnen zu hören! Wenn Sie Fragen haben oder
      Unterstützung benötigen, erreichen Sie uns über das folgende Formular oder
      die angegebenen Kontaktinformationen.
    </p>
  </section>

  <section class="contact-form">
    <h2>Kontaktformular</h2>
    <form action="#" method="POST">
      <label for="name">Ihr Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        required
        placeholder="Ihr Name"
      />

      <label for="email">Ihre E-Mail-Adresse:</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        placeholder="Ihre E-Mail-Adresse"
      />

      <label for="message">Nachricht:</label>
      <textarea
        id="message"
        name="message"
        required
        placeholder="Ihre Nachricht"
      ></textarea>

      <button type="submit">Absenden</button>
    </form>
  </section>

  <section class="contact-info">
    <h2>Andere Kontaktmöglichkeiten</h2>
    <p>
      Falls Sie eine schnellere Antwort wünschen, können Sie uns auch direkt
      über die folgenden Kanäle erreichen:
    </p>
    <ul>
      <li>
        Email:
        <a href="mailto:support@kcacornhole.com">support&#64;kcacornhole.com</a>
      </li>
      <li>Telefon: +49 123 456 789</li>
      <li>Adresse: Musterstraße 123, 12345 Musterstadt</li>
    </ul>
  </section>
</main>

<footer>
  <p>&copy; 2025 KCA Cornhole Tournaments | All Rights Reserved</p>
  <div class="footer-links">
    <a routerLink="/PrivacyPolicy">Privacy Policy</a> |
    <a routerLink="/TermsofService">Terms of Service</a> |
    <a routerLink="/contact">Contact</a>
  </div>
</footer>
