@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
    > div,
    > .form-notes,
    > .form-private {
      grid-column: 1;
    }
  }
}

@media (max-width: 900px) {
  .form-row-equal {
    grid-template-columns: 1fr;
    > div {
      width: 100%;
    }
  }
}

@media (max-width: 1000px) {
  .form-grid {
    grid-template-columns: 1fr 1fr;
  }

  .form-row-equal {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .form-grid,
  .form-row-equal {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 952px) {
  .form-private {
    left: -17%;
    top: 50%;
  }
}

@media (max-width: 500px) {
  .form-private {
    left: 10%;
    top: -80%;
  }
}

@media (max-width: 648px) {
  .form-private {
    left: 25%;
    top: -80%;
  }
}
@media (max-width: 648px) {
  .form-private {
    position: static !important;
    margin: 1.5rem 0 0 0 !important;
    width: 100%;
    justify-content: flex-start;
  }

  .form-footer {
    margin-top: 2rem !important;
  }
}
